@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
body {
	background-color: #000;
/*	background: url("../images/clockwork_yard.jpg") no-repeat;*/

}
h1{
	font-family: 'Architects Daughter', cursive;
	color: green;
}

p{
	font-family: 'Architects Daughter', cursive;
	color: green;
}

.student{
	width: 600px;
	height: auto;
}